input {
    width: 85px;
    border-radius: 8px; 
}

input:hover {
    transform: scale(1.2);
}

button {
    border-radius: 3px;
}

button:hover {
    background-color: #ae8c52;
    font-size: 10px;
    transform: scale(1.5);
}
